
/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body{
    font-family: 'Open Sans', sans-serif;

}

nav{
    padding: 0.8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
    list-style-type: none;
}
nav .nav, nav .nav-logo{
    margin: 0.5rem;
    display: inline;
}

#intro{
    padding: 2rem 10rem 3rem 10rem;
    text-align: center;
}

.header{
    text-align: center;
    
}

#intro h2, #intro p{
    margin-bottom: 1rem;
}

#intro button{
    color: white;
    font-weight: bold;
    background-color: #c2195b;
    border-radius: 25px;
    font-size: 1rem;
    padding: 1rem;
}

#succeed-info {
    padding: 2rem 10% 3rem 10%;
}

#succeed-info h2 {
    margin-bottom: 1rem;
}

#succeed-info h3 {
    text-align: center;
    margin-bottom: 1rem;
}
#succeed-info .card {
    display: inline-block;
    vertical-align: top;

    min-height: 175px;
    width: 30%;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

footer{
    padding: 0.7rem;
    display: inline-block;
    text-align: center;
    
}

footer span{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#pre-footer div{
    text-align: left;
    margin-bottom: 1rem;
    display: inline-block;
    color: white;
    vertical-align: top;

    width: 22%;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
}

#pre-footer{
    background-color: #002540;
}